@charset "UTF-8";

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li  {
    display: block;
    color: white;
    padding-left: 10px;
    float: left;
}

iframe {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-color: white;
    border-width: 4px;
    border-style: solid;
    box-shadow: 10px 10px white;
    height: 350px;
    margin-bottom: 20px;
}
